<div class="container">
  
 <div class="container">

  <h3 class="flow-text"><%= "#{current_user.first_name}'s Profile" %></h3>
      <div class="col">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col">

              <% if @profile.nil? %>
                <%= image_tag "https://fakeimg.pl/200/", class: "circle responsive-img", alt: 'Profile image of player' %>
              <% else %>
                <%= image_tag "header.png", class:  "circle responsive-img", alt: 'Profile image of player' %>
              <% end %>
            
            </div>
            <div class="col">
              <span class="black-text flow-text">
                Current Field Position: 
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col">

        <ul class="collection center">

          <% if @profile.nil? %>
              
              <br>
              <div class="chip">Player not yet activated by the coach</div>
              <br>
              <br>
      
          <% else %>  

            <li class="collection-item flow-text">Background: <%= "#{@user.profile.Background}" %></li>
            <li class="collection-item">Player Status: <%= "#{@user.profile.Background}" %></li>
            <li class="collection-item">Start Date <%= "#{@user.profile.Background}" %></li>
            <li class="collection-item">Personal Best Bench Press kg: <%= "#{@user.profile.Background}" %></li>
            <li class="collection-item">Personal 100mtr sprint sec: <%= "#{@user.profile.Background}" %></li>
            <li class="collection-item">Personal Best Squat Weight kg: <%= "#{@user.profile.Background}" %></li>
            <li class="collection-item">Current Field Position: <%= "#{@user.profile.Background}" %></li>
            <li class="collection-item">Weight: <%= "#{@user.profile.Background}" %></li>
            <li class="collection-item">Height: <%= "#{@user.profile.Background}" %></li>

          <% end %>

        </ul>
      </div>
    </div>
    <br>
    <br>

    <div class="container center">
     <a class="waves-effect waves-light btn-large"><i class="material-icons right">edit</i>Edit Background or Image</a>
     <br>
     <br>

    </div>
</div>