<div class="container">
  <h1 class="flow-text"><%= "#{current_user}' s Profile" %></h1>

  <div class="row">

    <div class="col s12 m6">
      <table class="striped center">
        <tr>
          <td>
            Player Background:
          </td>
          <td>
            <%= @profile.background || 'Not listed yet' %>
          </td>
        </tr>

        <tr>
          <td>
            Player Marked Active:
          </td>
          <td>
            <div class="chip">
              <p> <%= @profile[:active_player].to_s.capitalize %></p>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            Start Date:
          </td>
          <td>
            <%= @profile.start_date || 'Not listed yet' %>
          </td>
        </tr>

        <tr>
          <td>
            Personal Best Bench Press (kg):
          </td>
          <td>
            <%= @profile.pb_bench_press_kg || 'Not listed yet' %>
          </td>
        </tr>

        <tr>
          <td>
            Personal Best 100mtr Sprint:
          </td>
          <td>
            <%= @profile.pb_100mtr_sprint_seconds || 'Not listed yet' %>
          </td>
        </tr>

        <tr>
          <td>
            Personal Best Squat Weight (kg):
          </td>
          <td>
            <%= @profile.pb_squat_weight_kg || 'Not listed yet' %>
          </td>
        </tr>

        <tr>
          <td>
            Player Height (cm):
          </td>
          <td>
            <%= @profile.height || 'Not listed yet' %>
          </td>
        </tr>

        <tr>
          <td>
            Player Weight (kg):
          </td>
          <td>
            <%= @profile.weight || 'Not listed yet' %>
          </td>
        </tr>

      </table>
    </div>

    <div class="col s12 m6 center">
       <div class="card">
        <div class="card-image">
          <% if current_user.profile.image.attached? %>
            <%= image_tag(current_user.profile.image) %>
          <% else %>
            <%= image_tag(Faker::Avatar.image) %>
          <% end %>
        </div>
        <div class="card-content flow-text">
          <div class="chip">
            Player Current Field Positon:
          </div>

          <p><%= @profile[:current_position] || 'Not listed yet' %></p>

          <div class="divider"></div>
          <br>
          
          <%= link_to edit_profile_path(@profile), class: "waves-effect waves-light btn-small" do %>
            <i class="material-icons left">edit</i>Edit Profile Image or Background</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
