<!DOCTYPE html>
<html>
  <head>
    <title>BearsFootballClubApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'shared/navbar' %>
    <main>
      <%= render 'shared/alerts' %>
      <%= yield %>
    </main>
      <%= render 'shared/footer' %>
  </body>
</html>
